@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #010a01;
  background-image: url("images/vecteezy_empty-brick-wall-with-blue-and-pink-neon-light_2317574.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height:100%;
}

h1 {
  font-family: "Martian Mono", monospace;
  font-size: 10em;
  color: #fff;
  text-shadow:       0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px #f09,
  0 0 80px #f09,
  0 0 90px #f09,
  0 0 100px #f09,
  0 0 150px #f09;
  text-align: center;
  padding: 10px;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}

@keyframes pulsateFooter {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(12, 128, 235),
      0 0 80px rgb(12, 128, 235),
      0 0 90px rgb(12, 128, 235),
      0 0 100px rgb(12, 128, 235),
      0 0 150px rgb(12, 128, 235);
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(12, 128, 235),
      0 0 73px rgb(12, 128, 235),
      0 0 80px rgb(12, 128, 235),
      0 0 94px rgb(12, 128, 235),
      0 0 140px rgb(12, 128, 235);
  }
}

h2 {
  font-family: "Martian Mono", monospace;
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

h3 {
  font-family: "Martian Mono", monospace;
  font-size: 3em;
  color: #fff;
  text-shadow:       0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px rgb(12, 128, 235),
  0 0 80px rgb(12, 128, 235),
  0 0 90px rgb(12, 128, 235),
  0 0 100px rgb(12, 128, 235),
  0 0 150px rgb(12, 128, 235);
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  animation: pulsateFooter 0.11s ease-in-out infinite alternate;
}


#clear, #eraser {
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10em;
  margin: 10px;
  font-size: 2em;
  font-family: "Martian Mono", monospace;
}

#clear:hover, #eraser:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .9;
}

#clear:active, #eraser:active {
  outline: 0;
}

#clear:focus, #eraser:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}



#drawZone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

#grid {
  display: grid;
  width: 960px;
  height: 960px;
  background-color: white;
  border-radius: 50px;
  border: none;
}

.square {
  user-select: none;
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  /* background-color: transparent; */
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
#colorPicker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#colorPicker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

#colorOptions, #sizeOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sizeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 4em;
  color: #999;
  font-weight: 400;
}
#sizeSlider {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: rgb(116, 115, 115);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}
#sizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a3e3b;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #090909;
}



/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
  h1 {
    font-size: 5em;
  }
  #grid {
    width: 200px;
    height: 200px;
  }
  h2 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 1em;
  }
  #clear, #eraser {
    font-size: 1em;
    font-family: "Martian Mono", monospace;
  }
  #drawZone {
    flex-direction: column;
  }
  h3 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 768px) {
  h1 {
    font-size: 5em;
  }
  #grid {
    width: 500px;
    height: 500px;
  }
  h2 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 1em;
  }
  #clear, #eraser {
    font-size: 1em;
    font-family: "Martian Mono", monospace;
  }
  #drawZone {
    flex-direction: column;
  }
  h3 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 992px) {
  h1 {
    font-size: 7em;
  }
  #grid {
    width: 500px;
    height: 500px;
  }
  h2 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 1em;
  }
  #clear, #eraser {
    font-size: 1em;
    font-family: "Martian Mono", monospace;
  }
  #drawZone {
    flex-direction: column;
  }
  h3 {
    font-size: 1em;
    padding: 5px;
    margin: 5px;
  }


}

/* Large devices (desktops, 992px and up) */

@media (max-width: 1200px) { 

  #grid {
    width: 750px;
    height: 750px;
  }
  h2 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 3em;
  }
  #clear, #eraser {
    font-size: 2em;
    font-family: "Martian Mono", monospace;
  }
  h3 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
 }

 @media (max-width: 1400px) {
  #grid {
    width: 750px;
    height: 750px;
  }
  h2 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 3em;
  }
  #clear, #eraser {
    font-size: 2em;
    font-family: "Martian Mono", monospace;
  }
  h3 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width: 1600px) {
  #grid {
    width: 750px;
    height: 750px;
  }
  h2 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 3em;
  }
  #clear, #eraser {
    font-size: 2em;
    font-family: "Martian Mono", monospace;
  }
  h3 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
}

@media (max-width: 2200px) {
  #grid {
    width: 750px;
    height: 750px;
  }
  h2 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
  #sizeSlider {
    width: 200px;
  }
  #sizeValue {
    font-size: 3em;
  }
  #clear, #eraser {
    font-size: 2em;
    font-family: "Martian Mono", monospace;
  }
  h3 {
    font-size: 3em;
    padding: 5px;
    margin: 5px;
  }
}